.main{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    height: 200px;
    width: 200px;
    margin-top: 40px;
}

.magic{
background-color: aquamarine;
color: black;
font-style: italic;
font-weight: bold;
padding: 10px;
text-align: center;
display: flex;
margin-left: 100px;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.green{
background-color: green;
border: 2px solid black;

}

.blue{
    background-color: blue;
    border: 2px solid black;

}

.yellow{
    background-color: yellow;
    border: 2px solid black;

}

.red{
    background-color: red;
    border: 2px solid black;
    
}


.green:hover{
    background-color: white;
}

.blue:hover{
    background-color: white;
}

.yellow:hover{
    background-color: white;
}

.red:hover{
    background-color: white;
}

.green,.blue,.red,.yellow{
    transition: transform 0.3s  ease-in-out;
}

.green:hover,.blue:hover,.yellow:hover,.red:hover{
    transform: translate3d(0,-10px,0)}